.services {
  background-color: #f4f7f9;
  padding: 65px 0 100px 0;
  height: 520px;
  text-align: left;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h2 {
      margin-bottom: 24px;
    }

    & > .text_regular {
      margin-bottom: auto;
    }

    @media (max-width: 800px) {
      padding: 0 1rem;
      gap: 1rem;

      h2 {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 800px) {
    padding: 60px 0;
    height: unset;
  }
}

.services__controls {
  position: relative;
  width: 240px;

  &::after {
    content: url('./assets/shadow.png');
    position: absolute;
    top: -45px;
    right: 0;
  }

  @media (max-width: 800px) {
    display: flex;
    width: 100%;

    li {
      flex-grow: 2;
    }

    &::after {
      display: none;
    }
  }

  button {
    text-align: left;
    padding-left: 20px;
    width: 240px;
    line-height: 60px;
    border-bottom: 1px solid #4d637b;
    color: white;
    font-size: 21px;
    font-weight: 700;
    background-color: #32425c;

    &:hover {
      background-color: #1b2535;
    }

    &.selected {
      color: #32425c;
      background-color: white;
      border-bottom: none;
    }

    @media (max-width: 800px) {
      width: 100%;
      font-size: 18px;
      padding: 5px;
      text-align: center;
      line-height: 30px;
      font-weight: 400;
    }
  }
}

.services__content {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.description {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;

  &:not(.selected) {
    display: none;
  }

  &.description_delivery {
    background: url('./assets/delivery.png') no-repeat 100% -50%;
  }

  &.description_warranty {
    background: url('./assets/guaranty.png') no-repeat 100% -50%;
  }

  &.description_credit {
    background: url('./assets/credit.png') no-repeat 100% -20%;

    .btn_in-credit {
      width: 200px;
    }
  }

  p {
    width: 300px;

    @media (max-width: 800px) {
      width: 260px;
    }
  }

  @media (max-width: 800px) {
    background-position: 60% 0 !important;
    gap: 10px;
  }

  @media (max-width: 440px) {
    background-size: contain !important;
  }
}
