.manufacturers__list {
  margin: 20px 0 65px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  a {
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
