body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.0em;
}

q:before,
q:after {
    content: '';
}

a,
ins {
    text-decoration: none;
}



button {
    cursor: pointer;

}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: inherit;

}


body {

    max-width: auto;
    margin: 0 auto;
    font-family: "Cuprum", sans-serif;
}


h2 {
    font-size: 30px;
    text-transform: uppercase;
}


a {
    color: white;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

button,
input {
    border: none;

}

.btn {
    display: block;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_red {

    background-color: #ee3643;

}

.btn_red:hover {
    background-color: #ca2c37;

}

.btn_red:active {
    background-color: #ba2732;

}

.new {
    background: url(svg/NEWw.png) 100% 0 no-repeat;
}

.header {
    height: 320px;
    background-color: #f3f7f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.top_header {


    background-color: #293449;



}

.top_header .container {
    display: flex;
    height: 45px;

}

.top_header .container>* {
    line-height: 45px;
}

.name_store {
    display: block;
    padding: 0 56px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    background-color: #ee3643;
    font-size: 24px;

    position: relative;
    border-bottom: 5px solid #b52933;


}

.name_store:hover {
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.name_store:active {
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}





input[name="search"] {
    line-height: 45px;
    width: 290px;
    color: white;
    padding-left: 50px;
    background-color: #293449;
    font-size: inherit;
    border: none;
    background: url(svg/icon-search.svg) 5% no-repeat;



}

input[name="search"]:hover {
    background-color: #212a3a;

}

input[name="search"]:focus {
    background-color: white;
    color: #293449;

}




.inform {
    display: flex;
    justify-content: center;
    width: 150px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;

}

.inform:hover {
    background-color: #212a3a;
}

.inform:active {
    background-color: #161d29;
    opacity: 0.5;
}

.bookmark {
    background: url(/svg/icon-bookmark.svg) no-repeat 10% 50%;

}

.cart {
    background-image: url(/svg/icon-cart.svg) no-repeat 10% 50%;



}

.get_order {

    width: 150px;
    line-height: 45px;
    color: white;
    background-color: #63a63e;

    border: none;
    font-size: inherit;



}

.get_order:hover {
    background-color: #5fbb2d;
}

.get_order:active {
    background-color: #518534;
    color: #aac39b;
}





#contactAndEnter {
    display: flex;
    width: 940px;
    height: 75px;
    justify-content: space-between;
    margin: auto;

}


#about_store {

    width: 220px;
    color: #ee3643;
    padding-left: 40px;
    line-height: 1.5;



}

#contacts_top {

    width: 270px;
    font-size: 14px;
    text-align: center;
    color: #293449;


}

.number {
    display: block;
    font-size: 20px;
    color: #ee3643;
    border: 3px solid white;
    padding: 8px 50px 8px 70px;

    background: url(svg/icon-phone.svg) 5% no-repeat;
    margin-bottom: 5px;

}

.but {
    font-size: 20px;
    color: #293449;
    line-height: 45px;

}

.enter {

    padding: 11px 27px 11px 45px;
    background: url(svg/icon-login.svg) 15% no-repeat white;

}

.registr {
    background-color: white;
    padding: 11px 27px;


}

.enter:hover {
    color: #ee3643;
    background-image: url(svg/icon-loginbl.svg);

}

.but:hover {
    color: #ee3643;


}

.but:active {
    color: #c5c5c5;
}



















/* навигация */

.navigation {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    width: 940px;
    margin: 0 auto 60px;
    display: flex;

}

.navigation li {
    flex-grow: 1;
    text-align: center;

}

.navigation a {
    display: block;
    line-height: 58px;
}


.navigation li:hover {
    background-color: #293449;

}

.navigation li:active {
    background-color: #1d2739;
    color: #868c95;

}

.navigation li:active a {
    color: #868c95;
}























/* разделы каталога */

#mainCatalog {

    margin: 60px auto 30px;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
    color: white;



}

.mainCatalogCard {
    width: 300px;
    height: 130px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mainCatalogCard a {

    width: 135px;
    background-color: rgba(0, 0, 0, 0.1);
}


.mainCatalogCard a:hover {
    background-color: rgba(0, 0, 0, 0.2);

}

.mainCatalogCard a:active {
    background-color: rgba(0, 0, 0, 0.3);

}

.page_catalog h3 {
    font-size: 23px;


}

#slider h3 {
    text-transform: uppercase;
    font-size: 40px;
}

.mainCatalogCard:first-child {

    background: url(svg/icon-1.svg) 85% no-repeat #ffbf47;

}


.mainCatalogCard:nth-child(2) {
    background: url(svg/icon-2.svg) 85% no-repeat #3bbce3;

}

.mainCatalogCard:nth-child(3) {
    background: url(svg/icon-3.svg) 85% no-repeat #dc91d8;
    margin-right: 0;

}

#mainCatalog>li:nth-child(5) {
    background: url(svg/icon-4.svg) 85% no-repeat #8ed78f;
}

#mainCatalog>li:nth-child(6) {
    background: url(svg/icon-5.svg) 85% no-repeat #ffc047;


}




#slider {
    width: 620px;
    height: 280px;

    text-align: left;
    grid-column: 1 / 3;
    grid-row: 2 / 4;

    padding: 0;
    position: relative;
}

.slide {
    width: 620px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.slide header {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.4);
}

.slide:first-child {
    background-image: url(img/slider/6e27a4dd929.png);
}

.slide:nth-child(2) {
    background-image: url(img/slider/top-12-luchshix-shurupovertov-rejting\(1\).jpg);
}

.slide:last-child {
    background-image: url(img/slider/4404228.jpg)
}

.slide a {
    width: 200px;
    margin: 25px;
    align-self: flex-start;
}




#control {
    width: 90px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.point {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgba(56, 55, 55, 0.6);
}

.pointed {
    background-color: rgba(255, 255, 255, 0.9) !important;
}












/*  цены\популярные товары */

.chapter_menu {
    background-color: #f9f5f0;
    padding: 25px;
    color: #32425c;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.chapter_menu a {
    width: 250px;

}










#page_goods ul {
    margin: 20px 0;
    display: grid;
    grid-template-rows: 320px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 20px;
}


.card_goods {
    width: 220px;
    height: 320px;
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 50px 17px 20px 17px;
    font-weight: bold;
    font-family: "PTSans", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.card_goods:hover {
    border: 1px solid white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.card_goods:hover img {
    opacity: 0;

}


.btn--buyItem,
.btn--addBookm {

    width: 140px;

    font-weight: lighter;
    position: absolute;
    left: 42px;
    opacity: 0;
}

.btn--buyItem {
    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    color: white;
    top: 45px;
}

.btn--buyItem:hover {
    background-color: #5fbb2d;

}

.btn--buyItem:active {
    background-color: #518534;
}

.btn--addBookm {
    background-color: white;
    border: 3px solid #63a63e;
    top: 90px;
    color: black;
}

.btn--addBookm:hover {

    border: 3px solid #32425c;
    color: #32425c;

}

.btn--addBookm:active {

    border: 3px solid #c1c6ce;
    color: #c1c6ce;

}



.card_goods:hover .btn--buyItem {
    opacity: 1;
}

.card_goods:hover .btn--addBookm {
    opacity: 1;
}

.btn--buyItem img {
    position: absolute;
    left: 12px;

}


.card_goods:hover .btn--buyItem img {
    opacity: 0.3;
}

.btn--buyItem:hover img {
    opacity: 1;
}

.btn--buyItem:active img {
    opacity: 1;
}





del {
    color: #a9a9a9;

}

.card_goods p {
    margin-top: 40px;
    margin-bottom: 8px;

}

.new_price {
    width: 140px;
    margin-top: 8px;
    background-image: url(svg/red-button.svg);
    background-position: 30%;


}



























/*  производители */
#cards_producers {

    margin: 20px 0 65px;

    display: grid;
    grid-template-rows: 145px 145px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap: 20px;

}


#cards_producers a {
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;



}

#cards_producers a:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}











/*  сервисы*/
#page_advantages {
    background-color: #f4f7f9;
    padding: 65px 0 65px 0;
    height: 535px;
}

#page_advantages p {
    margin: 40px 0;
    font-size: 14px;
    line-height: 25px;
}

#advantages_catalog {
    position: relative;
}

#advantages_catalog::after {
    content: url(img/shadow.png);
    position: absolute;
    top: -45px;
    right: 0;
}

#advantages_catalog button {
    text-align: left;
    padding-left: 20px;
    width: 240px;
    line-height: 60px;
    border-bottom: 1px solid #4d637b;
    color: white;
    font-size: 23px;

    background-color: #32425c;
}

#advantages_catalog button:hover {
    background-color: #1b2535;
}

#page_advantages button.activ {
    color: #32425c;
    background-color: white;
    border-bottom: none;
}

.none {
    display: none !important;
}


#description_service {
    display: flex;
}

#advantages_catalog {
    flex: 1;
}

.description {
    flex: 3;
    padding-left: 80px;
}

.description p {
    width: 280px;
}

#delivery {
    background: url(img/delivery.png) no-repeat 100% -50%;
}

#warranty {
    background: url(img/guaranty.png) no-repeat 100% -50%;
}

#credit {
    background: url(img/credit.png) no-repeat 100% -20%;
}

#credit button {
    width: 200px;
}


/*  контакты */


#page_contacts {
    height: 535px;
    line-height: 25px;
    position: relative;


}

#page_contacts p {
    font-size: 14px;
    margin: 20px 0;
}

#page_contacts .container {
    display: flex;
    padding: 80px 0;
    position: relative;
}

#about_delivery {
    flex: 2;

    padding-right: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about_delivery li {
    background-image: url(img/redstring.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 30px;
    font-size: 18px;
    margin-bottom: 15px;
}

#about_delivery a {
    width: 220px;
}

#about_map {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

#map_img_small {
    cursor: pointer;
}

#map_img_small:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cross {

    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10000;
}






#modal-writeUs form {

    background-color: white;
    width: 620px;
    font-size: 18px;
    border-top: 5px solid red;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#modal-writeUs input,
#modal-writeUs textarea {
    border: 2px solid #c9c5c5;
    border-radius: 5px;
    padding: 10px 20px;
    resize: none;

}

#modal-writeUs ::placeholder {
    color: #c9c5c5;
    font-size: 14px;
}


#textMessage {
    padding: 0 80px 40px 80px;


}

#textMessage textarea {
    width: 100%;
    height: 115px;
}


#formFields {
    display: flex;
    padding: 50px 80px 20px 80px;
    justify-content: space-between;
}

#formFields input {
    width: 220px;
}

#footerForm {
    padding: 35px 80px;
    background-color: #f4f4f4;
}

#footerForm button {
    width: 100%;
}

/*  ФУТЕР */









#footer {
    height: 300px;
    color: white;
    background-color: #32425c;
}





/*  футер верхняя панель */

#footer_top_panel {
    display: flex;
    justify-content: space-between;
    height: 60px;

}

#footer_top_panel .name_store {
    height: inherit;
    line-height: 60px;
}

#footer_top_panel nav ul {
    border: none;
    width: 600px;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: space-between;

}

#footer_top_panel nav {
    align-self: flex-end;
}

#footer_top_panel nav a {
    line-height: 35px;
}

#footer_top_panel nav a:hover {
    border-bottom: 1px solid white;
}

#footer_top_panel nav a:active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}





/*  футер средняя панель */


#footer_middle_panel {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 60px;
}

#footer_middle_panel ul {
    display: flex;
    width: 560px;
    justify-content: space-between;
}









#footer_bottom_panel .urls,
#footer_middle_panel nav a {
    color: #ffd180;
}

#footer_bottom_panel .urls:hover,
#footer_middle_panel nav a:hover {
    border-bottom: 1px solid #ffd180;
}

#footer_middle_panel nav a:active {
    color: rgba(255, 209, 128, 0.5);
    border-bottom: 1px solid rgba(255, 209, 128, 0.5);
}

#footer_bottom_panel .urls:active {
    color: red;
    border-bottom: none;
}



/*  футер нижняя панель */



#footer_bottom_panel {
    background-color: #293449;
}

#footer_bottom_panel .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}







#social_media {
    width: 130px;

    display: flex;
    justify-content: space-between;
}

#social_media a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212a3a;
    border-radius: 50%;
}

#social_media a:hover {
    background-color: red;
}

#social_media a:active {
    background-color: red;
}