.products__list {
  margin: 20px 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.products__item {
  width: 220px;
  height: 320px;
  border: 1px solid #eaeaea;
  text-align: center;
  padding: 20px 30px;
  font-weight: bold;
  font-family: 'PTSans', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.products__item_new {
    background: url('./assets/new.png') 100% 0 no-repeat;
  }

  &:hover {
    border: 1px solid white;
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);

    .products-item__controls_buttons {
      display: flex;
    }

    .products-item__controls_image {
      display: none;
    }
  }
}

.products-item__content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  justify-content: space-between;
  font-family: 'PT Sans', sans-serif;

  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
  }

  del {
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }

  .btn_new {
    width: 120px;

    position: relative;
    background-color: #ca2c37;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    &:after {
      content: '';
      position: absolute;
      right: -40.2px;
      top: 0;
      display: block;
      border: 21px solid transparent;
      border-left: 21px solid #ca2c37;
    }
  }
}

.products-item__controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.products-item__controls_buttons {
  display: none;

  .btn_buy,
  .btn_add {
    width: 140px;
    font-weight: lighter;
  }

  .btn_buy {
    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    color: white;
    gap: 0.5rem;

    &:hover {
      background-color: #5fbb2d;
    }

    &:active {
      background-color: #518534;
    }
  }

  .btn_add {
    background-color: white;
    border: 3px solid #63a63e;
    color: black;

    &:hover {
      border-color: #32425c;
      color: #32425c;
    }

    &:active {
      border-color: #c1c6ce;
      color: #c1c6ce;
    }
  }
}
