.header {
  height: 320px;
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px;

  @media (max-width: 970px) {
    height: auto;
    padding-bottom: 1rem;
  }
}

.header__top {
  background-color: #293449;

  .container {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    color: white;

    @media (max-width: 970px) {
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }
}

.header-top__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  order: 3;
}

#search-panel {
  display: none;

  @media (max-width: 800px) {
    &:checked ~ .btn_search {
      background-color: #31a2c5;
      flex-shrink: 0;
    }

    &:not(:checked) ~ input[name='search'] {
      display: none;
    }
  }
}

.btn_search {
  display: none;

  @media (max-width: 800px) {
    display: flex;
    width: 60px;
    cursor: pointer;
    background-color: #3bbce3;

    align-items: center;
    justify-content: center;
    height: 42px;
  }
}

input[name='search'] {
  height: 42px;
  flex-grow: 2;
  color: white;
  padding-left: 40px;
  background-color: #293449;
  font-size: inherit;
  border: none;
  background: url('./assets/icon-search.svg') 17px no-repeat;
  order: 2;

  @media (max-width: 800px) {
    order: 5;
    width: 100%;
  }

  &:hover {
    background-color: #212a3a;
  }

  &:focus {
    background-color: #212a3a;
    color: white;
    outline: none;
  }
}

.btn_inform {
  flex-shrink: 0;
  width: 150px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &:hover {
    background-color: #212a3a;
  }

  &:active {
    background-color: #161d29;
    opacity: 0.5;
  }

  @media (max-width: 970px) {
    width: 60px;

    span {
      display: none;
    }
  }
}

.btn_order {
  background-color: #63a63e;
  color: white;
  flex-shrink: 0;
  width: 150px;
  height: 42px;

  img {
    display: none;
  }

  @media (max-width: 970px) {
    width: 60px;

    img {
      display: block;
      margin: 0 auto;
    }

    span {
      display: none;
    }
  }

  &:hover {
    background-color: #5fbb2d;
  }

  &:active {
    background-color: #518534;
    color: #aac39b;
  }
}

.header__navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  display: flex;

  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    flex-grow: 1;
    min-width: 100px;

    @media (max-width: 800px) {
      max-width: 100px;
      min-width: unset;

      &.header__navigation_sub {
        display: none;
      }
    }

    a {
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 58px;

      @media (max-width: 800px) {
        line-height: 50px;
      }

      &:hover {
        background-color: #293449;
      }
      &:active {
        background-color: #1d2739;
        color: #868c95;
      }
    }
  }
}

.header__contacts {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 46px auto 40px;

  @media (max-width: 970px) {
    gap: 1rem;
    height: auto;
  }

  @media (max-width: 800px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
}

.header-contacts__info {
  width: 220px;
  color: #ee3643;
  margin-left: 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;

  @media (max-width: 970px) {
    margin: 0;
  }

  @media (max-width: 800px) {
    width: 100%;
    text-align: center;
  }
}

.header-contacts__details {
  width: 270px;
  font-size: 14px;
  text-align: center;
  color: #293449;
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media (max-width: 800px) {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .details_tel {
    width: 270px;
    display: block;
    font-size: 21px;
    line-height: 42px;
    font-weight: 700;
    color: #ee3643;
    padding-left: 28px;
    border: 3px solid white;
    background: url('./assets/icon-phone.svg') 15% no-repeat;

    @media (max-width: 800px) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .details_adress {
    font-size: 14px;
    line-height: 24px;
  }
}

.header-contacts__auth {
  display: flex;
  gap: 10px;
}

.btn__auth {
  font-size: 21px;
  color: #293449;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    font-size: 18px;
  }

  &:hover {
    color: #ee3643;
  }

  &:active {
    color: #c5c5c5;
  }

  &.btn__auth_login {
    width: 120px;
    padding: 12px 27px 12px 42px;
    background: url('./assets/icon-login.svg') 15% no-repeat white;

    &:hover {
      background-image: url('./assets/icon-loginbl.svg');
    }
  }

  &.btn__auth_reg {
    width: 150px;
    background-color: white;
    padding: 12px 24px;
  }
}
