.footer {
  height: 300px;
  color: white;
  background-color: #32425c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    text-align: left;
  }
}

.footer__panel_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-list_main {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;
  align-self: flex-end;

  a {
    font-size: 18px;
    line-height: 24px;

    &:hover {
      border-bottom: 1px solid white;
    }

    &:active {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.footer__panel_middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 28px 0 54px;
  font-size: 18px;
  line-height: 24px;
  height: 50px;
}

.footer__nav-list_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 58px;

  a {
    color: #ffd180;

    &:hover {
      border-bottom: 1px solid #ffd180;
    }

    &:active {
      color: rgba(255, 209, 128, 0.5);
      border-bottom: 1px solid rgba(255, 209, 128, 0.5);
    }
  }
}

.footer__panel_bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer__panel_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}

.link_regular {
  color: #ffd180;

  &:hover {
    border-bottom: 1px solid #ffd180;
  }

  &:active {
    color: #ca2c37;
    border-bottom: none;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212a3a;
    border-radius: 50%;

    &:hover {
      background-color: #ca2c37;
    }

    &:active {
      background-color: #ca2c37;
    }
  }
}
